.profile {
  position: relative;
  
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  max-width: 282px;
  margin: 0;
  padding: 42px 0 0;
}

@media (min-width: 920px) {
  .profile {
    flex-direction: row;
    min-width: 880px;
    max-width: 880px;

    padding: 40px 0 0;
  }
}