.profile__subtitle {
  align-self: center;
  max-width: 280px;
  margin: 0;
  padding: 8px 0 32px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media (min-width: 920px) {
  .profile__subtitle {
    align-self: start;
    
    max-width: 295px;
    padding: 10px 0 0px;

    font-size: 18px;
    line-height: 22px;
  }
}
