.profile__title {
  max-width: 187px;
  margin: 0;
  padding: 26px 0 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
}

@media (min-width: 920px) {
  .profile__title {
    max-width: 295px;
    padding: 0;

    font-size: 42px;
    line-height: 48px;
  }
}
