.popup__submit {
  width: 238px;
  height: 50px;
  padding: 0;
  margin: 45px auto 0;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: white;

  background-color: black;
  border: none;
}

@media (min-width: 920px) {
  .popup__submit {
    width: 358px;

    font-size: 18px;
    line-height: 22px;
  }
}