.form__submit {
  width: 100%;
  padding: 15px 0;
  margin: 42px auto 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: white;

  background-color: black;
  border-radius: 2px;
  border: none;
}

.form__submit:hover {
  opacity: .8;
}

@media (min-width: 920px) {
  .form__submit {
    padding: 14px 0;
    margin: 48px auto 0;

    font-size: 18px;
    line-height: 22px;
  }
}